/* start global roles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", system-ui;
    background-color: var(--bg-color);
}

html {
    scroll-behavior: smooth;
}

button {
    outline: 0;
    border: 0;
    display: block;
    cursor: pointer;
}

p {
    margin: 0;
}

input {
    outline: 0;
    border: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer !important;
}

ul {
    list-style: none;
}
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-track {
    background-color: #444;
}
html::-webkit-scrollbar-thumb {
    background-color: white;
}

/* end global roles */

/* start helper classes */
@media (max-width: 767px) {
    .hidden-phone {
        display: none !important;
    }
}
@media (min-width: 767px) {
    .hidden-desktop {
        display: none !important;
    }
}

span {
    display: inline-block;
}

i {
    display: block;
}

/* .page {
    position: relative;
    z-index: 1;
} */
img {
    width: 100px;
}

@media (min-width: 992px) {
    .container_dektop {
        margin: 20px 100px;
    }
}
@media (max-width: 992px) {
    .container_phone {
        margin: 20px 40px;
    }
}
@media (max-width: 767px) {
    .text-phone {
        font-size: 18px !important;
    }
}
.text-computer {
    font-size: 20px !important;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin: 60px 0 30px 0;
}
@media (max-width: 767px) {
    .title {
        font-size: 32px;
    }
}

:root {
    --main-color-light: #00d4a1;
    --main-color-dark: #64ffda;
    --main-bgcolor-dark: #64ffda;
    --bg-hover-button-light: #f3f3f3bd;
    --bg-hover-button-dark: #293453be;
    --grey: #8d8d8d;
    --transition: 0.3s;
    --border-radius: 5px;
    --box-shadow: inset rgba(0, 0, 0, 0.15) 19px 20px 12px 3px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    --line-height: 1.9;

    /* Techs Colors */
    --bgcolor-tech-light: #f5f5f5;
    --bgcolor-tech-dark: #29384f5c;
    --bgcolor-tech-hover-light: #ebebeb;
    --bgcolor-tech-hover-dark: #3a4f7011;

    /* Cards Color */
    --bgcolor-card-light: #f5f5f5;
    --bgcolor-card-dark: #29384f5c;

    /* More Project Colors [Button] */
    --more-projects-color-light: #f3f3f3bd;
    --more-projects-color-dark: #293453be;

    /* Input Color for Contact */
    --input-color-light: rgb(247, 247, 247);
    --input-color-dark: #2934533a;
}

.auto-type-name {
    color: var(--main-color-dark);  
}

.auto-type-connect {
    color: white !important;
    /* background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%); */
    /* background-image: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%); */
    /* background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6  51%, #2BC0E4  100%); */
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
    padding: 0 10px;
    border-radius: 30px;
}
.typed-cursor {
    color: white;
}

/* End Helper Classes */

/* Start Buttons Themes */
.red_btn,  .green_btn, .blue_btn, .yellow_btn {
    font-size: 12px;
    border-radius: var(--border-radius);
    padding: 5px;
    margin-right: 10px;
}
.green_btn {
    color: #2ecc71;
    background-color: #a1e6a138;
}
.red_btn {
    color: #ff6958;
    background-color: #f2b1b12a;
}
.blue_btn {
    color: #4aa4df;
    background-color: #a2c8f924;
}
.yellow_btn {
    color: #a4b824;
    background-color: #e3e6a138;
}
.main_button {
    padding: 20px 40px;
    border: 2px solid var(--main-color-light);
    background-color: transparent;
}
.main_button.light:hover {
    background-color: var(--bg-hover-button-light);
}
.main_button.dark:hover {
    background-color: var(--bg-hover-button-dark);
}
@media (max-width: 767px) {
    .main_button {
        padding: 10px 20px;
        background-color: transparent;
    }
}
/* End Buttons Themes */


/* Start Header */
header {
    background-color: rgb(255 255 255 / 0%);
    backdrop-filter: blur(10px);
    position: fixed;
    width: calc(100% - 200px);
    top: 0;
    z-index: 1000;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-top: 0px !important;
}
@media (max-width: 992px) {
    header {
        right: 50%;
        transform: translateX(50%);
        width: calc(100% - 80px);
        margin-top: 0 !important;
    }
}
@media (max-width: 767px) {
    header {
        width: 100%;
    }
    header .nav_links.show {
        flex-direction: column !important;
    }
    header .nav_links.show  a {
        margin-left: 0 !important;
    }
    header .header_info {
        width: 100%;
    }
    header p.hidden {
        cursor: pointer;
        display: block !important;
    }
}
.nav_links p {
    transition: var(--transition);
    cursor: pointer;
}
.nav_links p:hover, .nav_links p.ele_mode:hover {
    color: var(--main-color-light) !important;
}
.nav_links p.clicked {
    color: var(--main-color-light) !important;
}
/* End Header */


/* Start Section Introduction */
section.intro {
    margin-top: 150px !important;
    height: calc(100vh - 100px);
}
section.intro main .main_info {
    width: 60%;
}
section.intro main .image {
    width: 35%;
}

section.intro main .image img {
    width: 300px;
    border-radius: 20px;
    box-shadow: var(--main-bgcolor-dark) -5px -5px 0px;
    transition: var(--transition);
}
section.intro main .image:hover img {
    box-shadow: var(--main-bgcolor-dark) -15px -10px 0px;
}


@media (max-width: 992px) {
    section.intro main .main_info {
        width: 100%;
    }
    section.intro main .image {
        display: none !important;
    }
}
section.intro .main_info .name {
    font-size: 60px;
}
section.intro .links .social_icons a {transition: var(--transition);}
section.intro .links .social_icons a:hover {
    color: var(--main-color-light) !important;
    transform: scale(1.2) !important;
}

.hello-icon {
    animation-name: say-hello;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: var(--transition);
}
@keyframes say-hello {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

@media (max-width: 767px) {
    section.intro .main_info .name {font-size: 40px;}
}
.nav_item {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}
.nav_item img {
    width: 50px;
    animation-name: down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@media (max-width: 767px) {
    .nav_item {margin: 60px 0;}
} 
@keyframes down {
    0% {
        transform: translateY(10px);
    } 100% {
        transform: translateY(15px);
    }
}

/* Start About Me */
section.about_me {
}
section.about_me .desc_about_me {
    margin: 0 0 30px;
}
section.about_me ul.techs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    gap: 10px;
}
@media (max-width: 992px) {
    section.about_me ul.techs {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 767px) {
    section.about_me ul.techs {
        grid-template-columns: repeat(2, 1fr);
    }
}
section.about_me ul.techs li {
    padding: 20px !important;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    z-index: 100;
    height: 140px !important;
}
section.about_me ul.techs li.light {
    background-color: var(--bgcolor-tech-light);
}
section.about_me ul.techs li.dark {
    background-color: var(--bgcolor-tech-dark);
}
section.about_me ul.techs li::before {
    content: "";
    position: absolute;
    bottom: 50%; left: 50%; width: 5%; height: 5%;
    transition: 0.5s;
    z-index: -1;
    border-radius: 50%;
}
section.about_me ul.techs li:hover::before {
    width: 100%; height: 100%;
    bottom: 0; left: 0;
    border-radius: 0%;
}
section.about_me ul.techs li.light:hover::before {
    background-color: var(--bgcolor-tech-hover-light);
}
section.about_me ul.techs li.dark:hover::before {
    background-color: var(--bgcolor-tech-hover-dark);
}
section.about_me ul.techs li img {
    width: 50px;
    margin-bottom: 10px;
}
/* End About Me */


/* Start Experience */
section.experience {
    /* height: calc(100vh - 100px); */
}
section.experience main .expriences {
    width: 60%;
}
section.experience main .image {
    width: 30%;
    border-radius: 20px;
    transition: var(--transition);

}
section.experience main .image img {
    width: 350px;
    border-radius: 20px;
    transition: var(--transition);
    box-shadow: var(--main-bgcolor-dark) -5px -5px 0px;
}
section.experience main .image:hover img {
    box-shadow: var(--main-bgcolor-dark) -10px -10px 0px;
}
section.experience main .experience-item .date_present {
    color: var(--main-color-light);
}
section.experience .experience-item .info {
    font-size: 17px;
}
@media (max-width: 991px) {
    section.experience main {
        flex-direction: column;
    }
    section.experience main .expriences {
        width: 100%;
        order: 2;
    }
    section.experience main .image {
        order: 1;
        width: 100%;
        margin-bottom: 10px;
        margin-bottom: 40px;
    }
    section.experience main .image img {
        width: 100%;
    }
}
/* End Experience */


/* Start Projects */
section.projects {
    /* height: calc(100vh - 100px); */
}
section.projects .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media (max-width: 992px) {
    section.projects .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    section.projects .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
section.projects .cards .card {
    padding: 10px;
}
section.projects .cards .image {
    margin: 0 0 15px;
    box-shadow: rgba(245, 206, 206, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: #2ecc71 3px solid;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
section.projects .cards .image img {
    width: 100%;
    transition: var(--transition);
}
section.projects .cards .image:hover img {
    transform: scale(1.1);
}
section.projects .cards .hidden-card {
    display: none !important;
}
section.projects .cards .card.light {
    background-color: var(--bgcolor-card-light);
}
section.projects .cards .card.dark {
    background-color: var(--bgcolor-card-dark);
}
section.projects .card .git_projects {
    margin: 0 0 20px;
}
section.projects .card .git_projects > i {
    color: var(--main-color-light);
}
section.projects .card .git_projects .watch_project a {
    transition: var(--transition);
}
section.projects .card .git_projects .watch_project a:hover {
    color: var(--main-color-light) !important;
    transform: scale(1.2);
}
section.projects .card .languages {
    margin-top: 10px;
    flex-wrap: wrap;
}
section.projects .more_projects {
    text-align: center;
    border: 2px solid var(--main-color-light);
    border-radius: 50%; padding: 20px;
    width: 50px; height: 50px;
    margin: auto; cursor: pointer;
    transition: var(--transition);
}
section.projects .more_projects.light:hover {
    background-color: var(--more-projects-color-light);
}
section.projects .more_projects.dark:hover {
    background-color: var(--more-projects-color-dark);
}
/* End Projects */


/* Start Resume & Connect */
section.contact main .resume {
    width: 30%;
}
section.contact main .resume p {
    font-size: 30px;
    margin-bottom: 20px;
}
section.contact main form {
    width: 60%;
}
section.contact main form input.dark, section.contact main form textarea.dark {
    color: rgb(227, 227, 227);
}
@media (max-width: 767px) {
    section.contact main .resume {
        margin-bottom: 50px;
        text-align: center;
    }
    section.contact main form, section.contact main .resume {
        width: 100%;
    }
    section.contact main {
        flex-direction: column !important;
    }
}

/* Start Footer */
footer {
    margin-top: 30px !important;
}
footer .social-icons a {
    transition: var(--transition);
}
footer .social-icons a:hover {
    color: var(--main-color-light) !important;
    transform: scale(1.2);
}
/* End Footer */


/* Start Contact */
.name_input.light, .textarea_input.light  {
    background-color: var(--input-color-light);
}
.name_input.dark, .textarea_input.dark  {
    background-color: var(--input-color-dark);
    border: 1px solid #858585;
}
.name_input.dark::placeholder, .textarea_input.dark::placeholder  {
    color: white !important;
}
/* End Contact */

/* Start Footer */
@media (max-width: 767px) {
    footer {
        flex-direction: column !important;
    }
    footer p {
        margin-bottom: 20px;
    }
}
/* end Footer */



