/* start global roles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui;
  background-color: #0a192f;
}

button {
  outline: 0;
  border: 0;
  display: block;
  cursor: pointer;
}

input {
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

/* end global roles */
/* start helper classes */
.hidden {
  display: none !important;
}

span {
  display: inline-block;
}

i {
  display: block;
}

.page {
  position: relative;
  z-index: 1;
}

.container {
  margin: 0 140px;
}
@media (max-width: 767px) {
  .container {
    margin: 0 40px;
  }
}

.white {
  color: white;
}

.blue-dark {
  color: #00d4a1;
}

.blue {
  color: #64ffda;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #ccd6f6;
  position: relative;
  margin: 20px 0;
  z-index: 1;
}
.title span {
  background-color: #0a192f;
  width: 200px;
}

@media (min-width: 767px) {
  .title::after {
    content: "";
    position: absolute;
    background-color: #233554;
    width: 100%;
    height: 1px;
    top: 70%;
    right: 10px;
    z-index: -1;
  }
}
/* end helper classes */
.content header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transform: translateX(-50%);
  width: 80%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  z-index: 100;
}
.content header .name {
  font-size: 30px;
}
.content header .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content header .nav-links a {
  color: inherit;
  margin-right: 15px;
  transition: 0.3s;
}
.content header .nav-links a:hover {
  color: #64ffda;
}
@media (max-width: 767px) {
  .content header {
    width: 100%;
    left: 0;
    transform: translateX(0);
    flex-direction: column;
  }
  .content header.open {
    height: 350px;
  }
  .content header .header_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content header .nav-links {
    display: none !important;
    transition: 0.3s;
  }
  .content header .nav-links.open {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 80px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  .content header .nav-links.open a:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .content header .navbar {
    display: block !important;
    font-size: 30px;
    cursor: pointer;
  }
}

/* Start Page */
.intro {
  height: 70vh;
}
.intro .main_info {
  height: calc(100vh - 250px); /* margin-top + header height */
  margin-top: 150px;
  font-weight: 700;
  line-height: 2;
}
.intro .main_info > p {
  font-size: 70px;
  font-weight: inherit;
}
.intro .main_info .info {
  font-size: 20px;
  font-weight: normal;
}
.intro .main_info .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 30px;
}
.intro .main_info .links > p {
  font-size: 20px;
}
.intro .main_info .links .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro .main_info .links .social-icons a {
  color: inherit;
  transition: 0.3s;
}
.intro .main_info .links .social-icons a:not(:last-child) {
  margin-right: 15px;
}
.intro .main_info .links .social-icons a:hover {
  color: #64ffda;
}
.intro .main_info .info, .intro .main_info .links {
  width: 600px;
}
.intro .main_info .get_in_touch {
  border: 1px solid #64ffda;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: inherit;
  background-color: transparent;
  transition: 0.3s;
}
.intro .main_info .get_in_touch:hover {
  background-color: rgba(255, 255, 255, 0.1215686275);
}
.intro .main_info .get_in_touch a, .intro .main_info .get_in_touch i {
  color: inherit;
}
.intro .main_info .get_in_touch i {
  margin-right: 5px;
}
@media (max-width: 992px) {
  .intro .main_info {
    line-height: 1.9 !important;
  }
  .intro .main_info > p {
    font-size: 33px;
  }
  .intro .main_info .info, .intro .main_info .links {
    width: 100%;
  }
  .intro .main_info button {
    margin: auto;
  }
}

/* End Page */
/* Start About_Me */
.about_me {
  height: 100vh;
}

/* End About_Me */
/* Start Experience */
.experience {
  height: 60vh;
}

/* End Experience */
/* Start Projects */
.projects {
  height: 60vh;
}

/* End Projects */
/* Start Resume */
.resume {
  height: 40vh;
}

/* End Resume *//*# sourceMappingURL=main.css.map */