// Import Mixins, Colors and Global Roles
@use "../helpers/global_roles" as *;
@use "../helpers/mixin" as *;
@use "../helpers/var" as *;


.content {
    header {
        height: 80px;
        @include flex_between;
        font-weight: 700;
        padding: 20px;
        margin-bottom: 20px;
        position: fixed;
        top: 0;
        left: 50%;
        @include blur_color;
        transform: translateX(-50%);
        width: 80%;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        z-index: 100;
        .name {
            font-size: 30px;
        }
        .nav-links {
            @include flex_between;
            a {
                color: inherit;
                margin-right: 15px;
                transition: $transition;
            }
            a:hover {
                color: $main_color;
            }
        }
    }
    @media (max-width: 767px) {
        header {
            width: 100%;
            left: 0;
            transform: translateX(0);
            flex-direction: column;
            &.open {
                height: 350px;
            }
            .header_info {
                width: 100%;
                @include flex_between;
            }
            .nav-links {
                display: none !important;
                transition: $transition;
            }
            .nav-links.open {
                display: flex !important;
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 80px;
                width: 100%;
                padding: 10px;
                font-size: 20px;
                a:not(:last-child) {
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
            .navbar {
                display: block !important;
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
}

/* Start Page */
.intro {
    height: 70vh;
    .main_info {
        height: calc(100vh - 250px); /* margin-top + header height */
        margin-top: 150px;
        font-weight: 700;
        line-height: 2;
        > p {
            font-size: 70px;
            font-weight: inherit;
        }
        .info {
            font-size: 20px;
            font-weight: normal;
            .icon-hi {
                display: inline-block;
                animation: wave 2.5s infinite;
            }
        }
        .links {
            @include flex_between;
            margin: 20px 0 30px;
            > p {
                font-size: 20px;
            }
            .social-icons {
                @include flex_between;
                a {
                    &:not(:last-child) {
                    margin-right: 15px;
                    }
                    color: inherit;
                    transition: $transition;
                }
                a:hover {
                    color: $main_color;
                }
            }
        }
        .info, .links {
            width: 600px;
        }
        .get_in_touch {
            border: 1px solid $main_color;
            padding: 20px 40px;
            font-size: 20px;
            font-weight: inherit;
            background-color: transparent;
            transition: $transition;
            &:hover {
                background-color: #ffffff1f;
            }
            a, i {
                color: inherit;
            }
            i {
                margin-right: 5px;
            }
        }
    }
    @media (max-width: 992px) {
        height: 60vh;
        .main_info {
            line-height: 1.9 !important;
            > p {
                font-size: 33px;
            }
            .info, .links {
                width: 100%;
            }
            button {
                margin: auto;
            }
        }
    }
    @keyframes wave {
        0% { transform: rotate(0deg); }
        10% { transform: rotate(14deg); }
        20% { transform: rotate(-8deg); }
        30% { transform: rotate(14deg); }
        40% { transform: rotate(-4deg); }
        50% { transform: rotate(10deg); }
        60% { transform: rotate(0deg); }
        100% { transform: rotate(0deg); }
      }
      
}
/* End Page */
/* Start About_Me */
.about_me {
    height: 100vh;
    section {
        @include flex_between;
        margin-right: 20px;
        .description {
            line-height: 1.6;
            width: 60%;
            p {
                font-size: 20px;
            }
            .techs {
                margin-bottom: 20px;
               ul {
                    text-align: center;
                    display: grid;
                    grid-template-columns: repeat(3, 25%);
                    grid-template-rows: repeat(3, 120px); // change this to auto-fill
                    gap: 15px;
                    li {
                        border-radius: $border_radius;
                        @include flex_center;
                        flex-direction: column;
                        cursor: pointer;
                        transition: $transition;
                        img {
                            width: 40px; margin-bottom: 10px; 
                        }
                        p {
                            font-size: 16px; font-weight: 700;
                        }
                        &:hover {
                                background-color: rgb(238, 238, 238);
                                p {color: black;}
                        }
                    }
                }
            }
        }
        .image {
            width: 35%;
            box-shadow: $box_shadow;
            img {
                width: 100%;  border-radius: $border_radius;
            }
        }
    }
    @media (max-width: 992px) {
        height: 100%;
        section {
            .description {
                width: 100%;
                .techs {
                    ul {
                        justify-content: center;
                        grid-template-columns: repeat(2, 50%);
                        grid-template-rows: repeat(4, 120px); // search for auto filling 
                    }
                }
            }
            .image {
                width: 0%;
                img {
                    display: none;
                }
            }
        }
    }
}
/* End About_Me */
/* Start Experience */
.experience {
    height: 60vh;
}
/* End Experience */
/* Start Projects */
.projects {
    height: 60vh;
}
/* End Projects */
/* Start Resume */
.resume {
    height: 40vh;
}
/* End Resume */




