// Import Mixins, Colors and Global Roles
@use "../helpers/global_roles" as *;
@use "../helpers/mixin" as *;
@use "../helpers/var" as *;


/* Start Header */
.content {
    header {
        height: 80px;
        @include flex_between;
        font-weight: 700;
        padding: 20px;
        margin-bottom: 20px;
        position: fixed; top: 0; left: 50%;
        @include blur_color;
        transform: translateX(-50%);
        width: 80%;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        z-index: 100;
        .name {
            font-size: 30px;
        }
        .nav-links {
            @include flex_between;
            @include make_links;
            p.ele_mode {
                cursor: pointer;
                &.dark {
                    i::before {
                        content: "\f186";
                    }
                    color: #444 !important;
                }
                &.light {
                    i::before {
                        content: "\f185";
                    }
                    color: white !important;
                }
            }
        }
    }
    @media (max-width: 767px) {
        header {
            width: 100%;
            left: 0;
            transform: translateX(0);
            flex-direction: column;
            &.open {
                height: 350px;
            }
            .header_info {
                width: 100%;
                @include flex_between;
            }
            .nav-links {
                display: none !important;
                transition: $transition;
            }
            .nav-links.open {
                display: flex !important;
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 80px;
                width: 100%;
                padding: 10px;
                font-size: 20px;
                a:not(:last-child) {
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
            .navbar {
                display: block !important;
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
}
/* End Header */

/* Start Page */
.intro {
    height: 70vh;
    .main_info {
        height: calc(100vh - 250px); /* margin-top + header height */
        margin-top: 150px;
        font-weight: 700;
        line-height: $line_height;
        > p {
            font-size: 70px;
            font-weight: inherit;
        }
        .info {
            font-weight: normal;
            .icon-hi {
                display: inline-block;
                animation: wave 2.5s infinite;
            }
        }
        .links {
            @include flex_between;
            margin: 20px 0 30px;
            @include make_links;
        }
        @include set_width(".info, .links");
        @include make_button(".get_in_touch");
    }
    @media (max-width: 992px) {
        height: 60vh;
        .main_info {
            > p {
                font-size: 33px;
            }
            button {
                margin: auto;
            }
        }
    }
    @keyframes wave {
        0% { transform: rotate(0deg); }
        10% { transform: rotate(14deg); }
        20% { transform: rotate(-8deg); }
        30% { transform: rotate(14deg); }
        40% { transform: rotate(-4deg); }
        50% { transform: rotate(10deg); }
        60% { transform: rotate(0deg); }
        100% { transform: rotate(0deg); }
    }
}
/* End Page */

/* Start About_Me */
.about_me {
    p.desc_about_me {
        line-height: $line_height;
    }
    @include set_width("p.desc_about_me");
    section {
        @include flex_between;
        margin-right: 20px;
        .description {
            line-height: 1.6;
            width: 60%;
            .techs {
               ul {
                    text-align: center;
                    margin: 25px 0;
                    @include grid_ele;
                    li {
                        border-radius: $border_radius;
                        @include flex_center;
                        flex-direction: column;
                        cursor: pointer;
                        transition: $transition;
                        padding: 0 10px;
                        img {
                            width: 40px; margin-bottom: 10px; 
                        }
                        p {
                            font-size: 16px; font-weight: 700;
                        }
                        &:hover {
                                background-color: rgb(238, 238, 238);
                                p {color: black;}
                        }
                    }
                }
            }
        }
        .image {
            width: 35%;
            box-shadow: $box_shadow;
            img {
                width: 100%;  border-radius: $border_radius;
            }
        }
    }
    @include set_width("p.extra_info");
    @media (max-width: 992px) {
        height: 100%;
        section {
            .description {
                width: 100%;
            }
            .image {
                width: 0%;
                img {
                    display: none;
                }
            }
        }
    }
}
/* End About_Me */

/* Start Experience */
.experience {   
    height: 100%;
    @include set_width(".experience-item");
    .experience-item {
        line-height: 1.6;
        h2 {
            font-size: 30px;
        }
        p.date_present {
            margin-bottom: 6px;
            font-size: 16px;
            color: $grey;
        }
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        @media (max-width: 992px) {
            h2 {
                font-size: 22px;
            }
        }
    }
}
/* End Experience */

/* Start Projects */
.projects {
    height: 100%;
    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(50px, 1fr));
        grid-auto-rows: minmax(350px, 1fr);
        justify-content: center;
        gap: 15px;
        .card {
            background-color: #112240;
            border-radius: 10px;
            padding: 20px;
            line-height: $line_height;
            transition: $transition;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            .get_projects {
                @include flex_between;
                i {
                    font-size: 20px;
                }
                div.watch_project {
                    i {
                        color: $grey;
                    }
                    i.link {
                        margin-left: 10px;
                    }
                }
            }
            &.light {
                background-color: white !important;
                &:hover {
                    background-color: #f3f3f3 !important;
                }
            }
            .info_project {
                margin: 20px 0;
                .name {
                    font-size: 30px;
                }
                .desc {
                    color: $grey;
                    font-size: 18px;
                }
            }
            p.languages {
                color: $grey;
                font-size: 16px;
            }
            &:hover {
               transform: translateY(-5px);
               background-color: #75a3f12e;
            }
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
        }
    }
}
/* End Projects */

/* Start Resume */
.resume {
    height: 100%;
    @include make_button(".open_resume");   
}
/* End Resume */

/* Start Footer */
footer {
    @include flex_between;
    margin-top: 70px !important;
    p {
        font-weight: 700;
    }
    padding: 20px;
    @include make_links;
}
/* End Footer */







