* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", system-ui;
    background-color: #0a192f;
}

button {
    outline: 0;
    border: 0;
    display: block;
    cursor: pointer;
}

input {
    outline: 0;
    border: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.hidden {
    display: none !important;
}

span {
    display: inline-block;
}

i {
    display: block;
}

.container {
    margin: 0 140px;
    @media (max-width: 767px) {
        margin: 0 35px;
    }
}

.white {
    color: white;
}



