@use "../helpers/var" as *;

@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex_evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@mixin center_ele {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    align-items: center;
}


@mixin global_size($ele) {
    font-size: 30px;
    width: 200px;
    height: 70px;
    font-family: inherit;
    color: #444;
    @media (max-width: 767px) {
        font-size: 15px;
        width: 100px;
        height: 55px;
        font-family: inherit;
        margin-right: 20px;
    }
}

@mixin button_style {
    button {
        @include global_size("button");
        &:hover {
            background-color: #e2e2e2;
        }
    }
}


@mixin blur_color {
    background-color: rgb(255 255 255 / 0%);
    backdrop-filter: blur(10px);
}


@mixin set_width($ele) {
    #{$ele} {
        width: 600px;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
}

@mixin grid_ele {
    display: grid;
    grid-template-columns: repeat(3, minmax(25%, 1fr));
    grid-auto-rows: 120px;
    gap: 15px;
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
    }
}

@mixin make_button($ele) {
    #{$ele} {
        padding: 20px 40px;
        font-weight: 700;
        background-color: transparent;
        transition: $transition;
        color: $main_color_dark;
        border: 1px solid $main_color_dark;
        &.blue-light {
            color: $main_color_light;
            border: 1px solid $main_color_light;
        }
        &:hover {
            background-color: #ffffff12;
        }
        a, i {
            color: inherit;
        }
        i {
            margin-right: 5px;
        }
    }
}




