
$backgroung_color: #0a192f;
$main_color_light: #00d4a1;
$main_color_dark: #64ffda;
$transition: 0.3s;
$border_radius: 5px;
$box_shadow: inset rgba(0, 0, 0, 0.15) 19px 20px 12px 3px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
$grey: rgb(141, 141, 141);
$line_height: 1.9;



